body {
  font-family: 'Open sans';
}

h1, h2, h3 {
  font-family: 'Montserrat';
}

button {
  background-color: #333333;
  justify-content: center;
  color: white;
  font-weight: 600;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
  border: 0.125rem solid #333333;
  border-radius: 0.5rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

button:active {
  box-shadow: none;
}

.main-container {
  width: 100vw;
  /*display: grid;*/
  /*grid-template-columns: repeat(12, 1fr);*/
  /*grid-gap: 0.5rem;*/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.team-member-name {
  color: black;
  font-size: 1.5rem;
}

.team-member-face {
  padding: 2rem;
  width: 50vw;
  max-width: 30rem;
  animation-duration: 2s;
  animation-name: tilt;
  animation-iteration-count: infinite;
  animation-direction: repeat;
  animation-timing-function: linear;
  margin-bottom: 1rem;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50%% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
